{% extends 'layout.twig' %}

{% block schema %}
  {% include 'schema.twig' %}
{% endblock %}

{% block content %}
  <div class="container">
    {{ fn('flexible_content', 'group_page_component') }}
    {{ fn('flexible_content', 'group_blog_component') }}

    <div class="blog-posts">
      <h2 class="block-title">{{ __('Other posts', 'custom_theme') }}</h2>
      <div class="archive-list row">
        {% for post in blog_posts %}
          {% include 'archive-tease.twig' %}
        {% endfor %}
      </div>
      {% include 'pagination.twig' %}
    </div>
  </div>
{% endblock %}
