{% extends 'layout.twig' %}

{% block content %}
<div class="container">
  <div class="main-content-inner">
    {% include 'searchform.twig' %}

    <div class="search-result">
      {% if posts %}
        {% for post in posts %}
          <div class="search-result__item">
            <h3 class="search-result__title"><a href="{{ post.link }}">{{ post.title }}</a></h3>
            <div class="search-result__text">{{post.content|excerpt(30)}}</div>
          </div>
        {% endfor %}
      {% else %}
        <p>{{ __('Sorry, no results were found!', 'custom_theme') }}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
