{% extends 'layout.twig' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div id="main-content" class="main-content col-lg-9 col-md-8">
        {{ function('flexible_content', 'group_component') }}
      </div>

      <aside id="sidebar-left" class="sidedebar-wrapper col-lg-3 col-md-4 order-lg-first order-md-first">
        {{ fn('sidebar', 'sidebar-left') }}
      </aside>
    </div>
  </div>
{% endblock %}
