.so-widget-sow-icon-default-4637f67d20cc .sow-icon {
  text-align: left;
}
.so-widget-sow-icon-default-4637f67d20cc .sow-icon span,
.so-widget-sow-icon-default-4637f67d20cc .sow-icon a span {
  display: inline-block;
  color: #f72936 !important;
  font-size: 30px !important;
}