<div class="block-acf-widget block-social-link">
  <h3 class="block-title">{{ block_title }}</h3>
  <div class="social-list">
    <ul class="social-list--items">
      {% for item in block_social_list %}
        <li class="social-item"><a href="{{ item.social_url }}" target="_blank">{{ item.social_icon.element }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>